.card-config-wrapper { 
    display: flex; 
    flex-direction: column; 
    width: 100%; 
    max-width: 58.34rem; 
    padding: 2.44rem; 
    border-radius: 1.5rem; 
    background: #070C26; 
    border: 0.67px solid #E0C58F66; 
    box-sizing: border-box; 
    gap: 1.44rem; 
}

.card-config-titulo { 
    font-family: "Cinzel Decorative", serif; 
    font-weight: 400; 
    font-size: 1.2rem; 
    color: #E0C58F; 
    margin: 0; 
}

.card-config-form { 
    display: flex; 
    flex-direction: column; 
    width: 100%; 
    gap: 1.44rem; 
}

.card-config-conteudo { 
    display: flex; 
    flex-direction: column; 
    width: 100%; 
    gap: 1.44rem; 
}

.card-config-grupo-input { 
    display: flex; 
    flex-direction: column; 
    gap: 0.5rem; 
}

.card-config-texto-label { 
    color: #E0C58F; 
    font-family: "Cinzel", serif; 
    font-size: 0.62rem; 
    text-transform: uppercase; 
}